<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav-ul">
            <li class="nav-ul-li"><a class="nav-ul-li-a" href="/">Home</a></li>
            <li class="nav-ul-li"><a class="nav-ul-li-a" href="/login">Login</a></li>
            <li class="nav-ul-li"><a class="nav-ul-li-a" href="/signUp">Sign Up</a></li>
        </ul>
    </nav>
   
    <%- body%>
    
</body>
</html>