
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
  <div>
    <form action="/signUp" method="POST">
        <h3>Sign Up Here</h3>

        <label for="name">Name</label>
        <input type="text" placeholder="Name" id="name" name="name">

        <label for="name">Surname</label>
        <input type="text" placeholder="Surname" id="surname" name="surname">

        <label for="name">Userame</label>
        <input type="text" placeholder="UserName" id="username" name="username">

        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <input type="submit" value="Sign Up" class="button"/>
    </form>
  
  </div>